html, body {
    height: 100%;
    background-image: url(images/landing\ page.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #ba13009d;
    width: 25vw;
    height: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {    
    flex-grow: 1;
    color: white;
    font-size: 70px;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

form {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.input-group {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    height: 50%;
}

.input-group label {
    width: 30%;
    background-color: #1a6d82;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 12px;
}

.input-group input {
    width: 70%;
}

.button {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}   

button {
    width: 80%;
    padding: 15px;
    border-radius: 10px;
    background-color: #1a6d82;
    color: white;
    font-size: 20px;
    border: none;
    margin-bottom: 20px;
}

a {
    color: aliceblue;
    text-decoration: none;
    margin: 0;
    margin-bottom: 30px;
}

.eye {
    position: relative;
}

span {
    float: right;
    position: absolute;
    z-index: 2;
    margin-left: 350px;
    margin-top: 15px;
}


div {
    display: flex;
}

#no-bot {
    margin-bottom: 0;
}

.signup-errors{
    position: fixed;
    left: 38vw;
    top: 160px;
    background-color: rgb(196, 26, 26);
    color: rgb(255, 255, 255);
    padding: 10px;
    padding-left: 20px;
}

.registered{
    position: fixed;
    left: 38vw;
    top: 160px;
    background-color: rgb(26, 196, 54);
    color: rgb(255, 255, 255);
    padding: 10px;
    padding-left: 20px;
}
